{% extends 'base-bootstrap.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

    <div class="container">
    <div class="row">
        <div class="col-4">
            <h1>Seznam kategorií</h1>
            {% for category in categories %}
                <h4>{{ category.Typ }}  </h4>

            {% else %}
                <tr>
                    <td colspan="3">no records found</td>
                </tr>
            {% endfor %}
        </div>
        <div class="col-8">
            <h1>Seznam produktů</h1>
            <div class="row card-deck">
        {% for product in products %}
            <div class="col-sm-4">
                <h4><a href="/retaska/public/detail/{{product.Id}}"> {{ product.Name }}</a><br>
                Cena: {{ product.Price }} Kč<br></h4>
                <a href="{{ path('objednavka', {'id': product.id}) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Objednat</a>

            </div>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
    </div>
    </div>
    </div>




{% endblock %}