{% extends 'base-bootstrap.html.twig' %}

{% block title %}Detail{% endblock %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col">
        <h3>{{ product.Name }} </h3>
    </div>
    <div class="col">
        <h5>{{ product.Sklad }} kusů skladem</h5>
    </div>
</div>
    <div class="row">
        <div class="col">
            Detail: {{ product.Detail }}
        </div>
        <div class="col">
            <h4>{{ product.Price }} Kč</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <a href="{{ path('objednavka') }}"class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Objednat</a>
        </div>
    </div>
    <br>
    <a href="{{ path('produkty') }}"class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">NameZpět na výpis produktů</a>
</div>
</div>




{% endblock %}

